<!-- Exemplo básico de html para uma tela de cadastro -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <h1>Cadastro de Alunos</h1>
    <form action="/alunos/salvar" method="post">
        <label for="nome">Nome do aluno : </label> <!-- Observe que o nome do campo é o mesmo da entidade que é o mesmo do banco-->
        <input type="text" id="nome" name="nome" placeholder="Digite o nome" required>
        <label for="matricula">N° de Matrícula : </label>
        <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula" required>
        <button type="submit">Salvar</button>
    </form>
</div>
</body>
</html>