<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Solicitações</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Cadastro de Solicitações</h1>
        <form th:action="${solicitacao.id != null} ? @{/solicitacoes/atualizar} : @{/solicitacoes/salvar}" th:object="${solicitacao}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="campo" th:if="${solicitacao.id == null}">
                <label for="aluno">Aluno</label>
                <select id="aluno" name="aluno.id" required>
                    <option value="">Selecione um aluno</option>
                    <option th:each="aluno : ${aluno}"
                            th:value="${aluno.id}"
                            th:text="${aluno.nome}">
                    </option>
                </select>
            </div>
            <div class="campo" th:if="${solicitacao.id == null}">
                <label for="curso">Curso</label>
                <select id="curso" name="curso.id" required>
                    <option value="">Selecione um curso</option>
                    <option th:each="curso : ${curso}"
                            th:value="${curso.id}"
                            th:text="${curso.nome}">
                    </option>
                </select>
            </div>
            <div class="campo" th:if="${solicitacao.id == null}">
                <label for="tipoDocumento">Tipo de Documento</label>
                <select id="tipoDocumento" name="tipoDocumento.id" required>
                    <option value="">Selecione um documento</option>
                    <option th:each="tipo : ${tiposDocumento}"
                            th:value="${tipo.id}"
                            th:text="${tipo.nome}">
                    </option>
                </select>
            </div>
            <div class="campo" th:if="${solicitacao.id != null}">
                <label for="status">Status</label>
                <select th:field="*{status.id}">
                    <option th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.nome}">
                    </option>
                </select>
            </div>
            <br>
            <button type="submit">Salvar</button>
        </form>
        <a href="/" class="voltar">← Voltar para a página inicial</a>
        <a href="/solicitacoes/show" class="voltar">← Voltar para a página de solicitações</a>
    </div>
</div>
</body>
</html>