<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cursos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <h1>Cadastro de Cursos</h1>
    <form action="/cursos/salvar" method="post">
        <label for="nome">Nome do curso : </label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do curso" required>
        <button type="submit">Salvar</button>
    </form>
</div>
</body>
</html>