<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Sistema de Solicitação de Documentos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="card-home">
        <h1>Sistema de Solicitação de Documentos Acadêmicos</h1>
        <p class="subtitulo">
            Controle de solicitações e histórico de alterações.
        </p>
        <div class="menu">
            <a th:href="@{/alunos/show}">👨 Alunos</a>
            <a th:href="@{/cursos/show}">🎓 Cursos</a>
            <a th:href="@{/status/show}">📌 Status</a>
            <a th:href="@{/tipoDocumento/show}">📄 Documentos</a>
            <a th:href="@{/solicitacoes/show}">📝 Solicitações</a>
        </div>
        <h2>Histórico das Solicitações (Exclusivo Administrador)</h2>
        <table>
            <thead>
            <tr>
                <th>Solicitação</th>
                <th>Status</th>
                <th>Responsável</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="historico : ${historicos}">
                <td th:text="'#' + ${historico.solicitacao.id}"></td>
                <td th:text="${historico.statusAnterior.nome}"></td>
                <td th:text="${historico.responsavel}"></td>
                <td th:text="${#dates.format(historico.dataAlteracao,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>